/*------------------------------------------
	Rebuld default browser style
	
	based on work by Blueprint CSS
-------------------------------------------*/



body, input, textarea{
	color: #111;
	font: 0.750em Georgia, Arial, sans-serif;
	line-height: 24px;
}

/*********HEADINGS*******/
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	clear: both;
}

hr{
	background-color: #999;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/**********TEXT ELEMENTS***********/
p {
        /*margin-bottom: 1.5em;*/
}

dl      {
        margin:0 1.5em;
}
dt {
        font-weight: bold;
}
dd {
        margin-bottom: 1.5em;
}
strong {
        font-weight: bold;
}
cite, em, i {
        font-style: italic;
}
blockquote {
        margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
        font-style: normal;
}
pre {
        white-space: pre; /*for compatibilty with CSS 2*/
		white-space: pre-wrap; /*for compatibilty with CSS 2.1*/
		white-space: pre-line; /*for compatibility with  CSS 3*/
		word-wrap: break-word;
}
code {
        font: 11px Monaco, monospace;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
ins {
        text-decoration: none;
}
sup,
sub {
        height: 0;
        line-height: 1;
        vertical-align: baseline;
        position: relative;
        
}
sup {
        bottom: 1ex;
}
sub {
        top: .5ex;
}

